/* 封装 B */
@mixin mmm-sprites($x, $y) {
    background-image: url('../images/header_app.png');
    background-position: $x $y;
    background-size: 400px 264px;
}
$orange:#ff841d;
/* 封装 E */
/* 头部固定框 */
.header{
    width: 100%;
    height: 70px;
    background-color: $orange;
    color: #fff;
}